* {
  box-sizing: border-box;
}

:root {
  --pine-shadows: #4e5a40;
  --dark-mystery: #2c242a;
  --soothing-sage: #8e9d88;
  --calming-whisper: #84a9a1;
  --trust-us-beige: #e8e5ce;
  --gutter: 1rem;
}

body {
  margin: 0;
  color: var(--trust-us-beige);
  font-family: "Lexend", sans-serif;
  background-color: var(--pine-shadows);
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 50rem;
}

aside {
  padding-left: 1rem;
  padding-right: 1rem;
}

footer {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h1 {
  color: var(--trust-us-beige);
  font-family: "Alegreya Sans", sans-serif;
  font-weight: bold;
  line-height: 1rem;
  margin-bottom: 5rem;
  font-size: 3rem;
}

h2 {
  color: var(--trust-us-beige);
  font-family: "Alegreya Sans", sans-serif;
  line-height: 1rem;
  margin-top: 3rem;
  font-size: 2rem;
  text-transform: uppercase;
}

h3 {
  color: var(--trust-us-beige);
  font-family: "Alegreya Sans", sans-serif;
  line-height: 1rem;
  font-size: 1.5rem;
  text-decoration: underline;
}

h1,
h2 {
  letter-spacing: 0.25rem;
}

a {
  text-decoration: none;
  color: var(--calming-whisper);
}

a[href]:hover {
  color: var(--dark-mystery);
}

a[href]:active {
  color: var(--dark-mystery);
  text-shadow: 5px 5px 5px var(--calming-whisper);
}

a:not([href]) {
  color: var(--dark-mystery);
}

main {
  margin-bottom: 5rem;
}

article {
  margin-bottom: 5rem;
}

figure {
  margin-top: 3rem;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

picture img {
  max-width: none;
}

svg {
  width: 200px;
}

/* temp fix to size about img */
img[srcset] {
  width: 50%;
  height: auto;
  margin: 2rem auto;
}

/* temporary fix to size svg images */
img[src$="svg"] {
  width: 200px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  background: var(--trust-us-beige);
  width: 100vw;
  margin-top: 0;
  margin-bottom: 5rem;
  list-style: none;
}

nav ul li a {
  display: inline-block;
  padding: 1.5rem;
}

h1,
h2,
h3 {
  line-height: 2rem;
}

header {
  align-self: stretch;
  max-width: 50rem;
}

.panel {
  display: flex;
  flex-direction: column;
}

.image-wrapper {
  order: -1;
  width: 100%;
  object-fit: cover;
}

.button {
  color: var(--trust-us-beige);
  padding: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: var(--calming-whisper);
  margin: 1rem;
  margin-left: 0;
  display: inline-block;
}

.button:hover {
  background-color: var(--dark-mystery);
  transition: background-color 300ms ease;
  color: var(--trust-us-beige);
}

.hero {
  position: relative;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero img {
  filter: sepia(80%) brightness(75%);
}

.hero div {
  position: absolute;
  /* bottom: 15rem; */
  /* left: 35rem; */
  text-shadow: 5px 5px 5px var(--calming-whisper);
  display: flex;
  flex-direction: column;
  margin: var(--gutter);
  padding: var(--gutter);
}

.hero h1 {
  font-size: clamp(1rem, 4vw, 3rem);
  line-height: 2rem;
  margin: 0;
}

.cardintro {
  margin-left: 1rem;
  margin-right: 1rem;
}

.cards {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  /* transform: rotate(5deg); */
}

.card {
  flex: 1 1 0;
  flex: 0 1 20%;
  text-align: center;
  background-color: var(--soothing-sage);
  color: var(--trust-us-beige);
  transition: background-color 300ms ease, color 300ms ease;
}

.card img {
  transition: filter 300ms ease;
}

.card:hover img {
  filter: invert(75%);
}

.card:hover {
  color: var(--dark-mystery);
  background-color: var(--calming-whisper);
  cursor: pointer;
}

@media (min-width: 401px) {
  /* tablet CSS */
  .text-content h2 {
    margin-top: 0;
  }

  .panel {
    flex-direction: row;
    gap: 1rem;
  }

  .image-wrapper {
    flex: 1 1 50%;
    order: 1;
  }

  .left {
    order: -1;
  }

  .text-content {
    flex: 1 1 50%;
  }

  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    flex: 0 1 40%;
  }
}

@media (min-width: 801px) {
  /* desktop CSS */
  .cards {
  }
  .card {
    flex: 1 1;
    flex: 1 1 0;
  }
}

/* @media (max-width: 550px) {
  .cards {
    flex-direction: column;
    justify-content: center;
  }

  .card {
    flex: 0 1 20%;
  }

  h1,
  h2,
  h3 {
    line-height: 2rem;
  }
} */
